:root {
  --primary-text-color: #22343d;
  --secondary-text-color: #2f281e;
  --alt-sec-text-color: #252b42;
  --opposite-text-color: #ffffff;
  --extra-text-color: #afafaf;
  --alt-extra-text-color: #737373;
  --acsent-color: #02897a;
}
body {
  font-family: "Poppins", sans-serif;
  color: var(--primary-text-color);
  background-color: #ffffff;
}
h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1200px;
  padding: 0 21px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* -----------header----------- */
.logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
}
.nav-list .item {
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
}
.btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #173a56;
  background-color: transparent;
  padding: 9px 24px;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
}
.btn.secondary {
  color: var(--opposite-text-color);
  background-color: var(--acsent-color);
  border: none;
}
.check-label {
  display: flex;
  align-items: center;
  width: 32px;
  height: 32px;
  padding: 8px;
  background: #f3f3f3;
  border-radius: 50%;
}
.check {
  width: 100%;
  height: 100%;
  background-color: #02897a;
  border-radius: 50%;
}
/* ----------hero---------- */
.hero {
  padding-bottom: 100px;
}
.hero .title {
  margin-bottom: 15px;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
}
.hero .text {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  text-indent: 10px;
}
.hero .buttons {
  display: flex;
  gap: 24px;
}
.hero .btn.secondary {
  font-weight: 700;
  padding: 15px 42px;
}
.video-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-decoration-line: underline;
  color: var(--acsent-color);
  background-color: transparent;
  border: none;
  padding: 0;
}
/* ----------hero---------- */
.feature {
  padding-top: 16px;
  padding-bottom: 38px;
}
.feature .icon-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 19px;
  margin-bottom: 24px;
}
.icon-block.cursor {
  background-color: #02897a;
}
.icon-block.wave {
  background-color: #4d8dff;
}
.icon-block.heart {
  background-color: #740a76;
}
.icon-block.clock {
  background-color: #f03e3d;
}
.feature .title {
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  margin-bottom: 50px;
}
.feature .list {
  padding-left: 65px;
  padding-right: 65px;
  display: flex;
  flex-direction: column;
  gap: 37px;
  margin-bottom: 32px;
}
.feature .caption {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 8px;
  text-align: center;
}
.feature .text {
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}
.feature .btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* ----------description---------- */
.description {
  padding-bottom: 67px;
}
.description .list {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.description .wrapper {
  padding-left: 10px;
  padding-right: 10px;
}
.description .pic {
  margin-bottom: 50px;
}
.description .text-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}
.text-wrapper:not(:last-child) {
  margin-bottom: 16px;
}
.description .icon-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 35px;
  height: 35px;
  border-radius: 14px;
}
.description .upper-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 8px;
}
.description .title {
  font-size: 32px;
  line-height: 1.5;
  margin-bottom: 16px;
}
.description .text {
  font-size: 16px;
  line-height: 1.62;
  margin-bottom: 16px;
}
.description .caption {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.62;
  margin-bottom: 12px;
}
.text-wrapper .text {
  margin: 0;
}
.icon-block.orange {
  background-color: #ff9900;
}
.icon-block.red {
  background-color: #f03e3d;
}
.icon-block.blue {
  background-color: #4d8dff;
}
/* ----------stuff---------- */
.stuff {
  padding-top: 73px;
}
.stuff .title {
  font-size: 32px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 8px;
}
.stuff .content {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  margin-bottom: 40px;
}
.stuff-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 32px;
}
.stuff-list .item {
  display: flex;
  align-items: center;
  gap: 15px;
}
.stuff-list .item:nth-child(even) {
  flex-direction: row-reverse;
}
.stuff-list .pic {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.stuff-list .text {
  width: 100%;
  height: 65px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #2f281e;
  box-shadow: 0px 2px 8px rgba(86, 117, 146, 0.1);
  border-radius: 25px;
  padding: 12px 25px 5px;
}
.stuff-btn {
  display: block;
  padding: 15px 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  background: var(--acsent-color);
  border-radius: 4px;
  border: none;
}
/* ----------news---------- */
.news {
  padding-top: 100px;
}
.news .title {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 8px;
}
.news .text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  margin-bottom: 40px;
}
.news .list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.card {
  width: 348px;
  border-radius: 8px 8px 0px 0px;
  padding-bottom: 40px;
}
.card .pic {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
}
.card .content {
  font-size: 16px;
  line-height: 1.75;
  margin-bottom: 12px;
}
.card .bold {
  font-weight: 700;
}
.card .cover {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.66;
}
.card:nth-child(even) .cover {
  color: var(--acsent-color);
}
.picker {
  display: none;
}
/* ----------prices---------- */
.price .title {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 8px;
}
.price .text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 74px;
}
.price .list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.option {
  width: 322px;
  height: 456px;
  padding: 24px 69px 32px;
  text-align: center;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.caption {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
  margin-bottom: 8px;
}
.under-caption {
  font-size: 16px;
  line-height: 2.5;
  margin-bottom: 16px;
}
.cost {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.1px;
  color: #afafaf;
  margin-bottom: 16px;
}
.number {
  position: relative;
  font-weight: 700;
  font-size: 76px;
  line-height: 1.32;
  text-align: center;
  letter-spacing: 0.2px;
  color: #02897a;
  margin-right: 8px;
}
.number::after {
  position: absolute;
  top: calc(50% - 26px);
  left: calc(100% + 8px);
  content: "$";
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0.1px;
}
.bonus-wrap {
  margin-bottom: 38px;
}
.price .bonus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: 0.2px;
}
.price .bonus:not(:last-child) {
  margin-bottom: 16px;
}
.order-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #ffffff;
  background-color: var(--acsent-color);
  padding: 11px 18px;
  border-radius: 8px;
  border: none;
}
.order-btn.inv {
  color: var(--acsent-color);
  background-color: #ffffff;
}
.option.inv {
  color: #ffffff;
  background-color: var(--acsent-color);
}
.cost.inv,
.number.inv {
  color: #ffffff;
}
/* ----------prices---------- */
.feedback {
  padding-top: 100px;
}
.feedback .container {
  padding-left: 44px;
  padding-right: 44px;
}
.feedback .title {
  font-size: 34px;
  line-height: 1.68;
  letter-spacing: 0.2px;
  text-align: center;
  margin-bottom: 8px;
}
.feedback .text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  text-align: center;
  letter-spacing: 0.2px;
  margin-bottom: 32px;
}
.feedback .list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.slot {
  width: 327px;
  height: 236px;
  padding: 28px 26px 0px;
  border: 1px solid #dedede;
  border-radius: 5px;
}
.slot .icon {
  margin-left: 2px;
  margin-bottom: 16px;
}
.slot .content {
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 16px;
}
.client-wrap {
  display: flex;
  align-items: center;
  gap: 14px;
}
.client-wrap .pic {
  border-radius: 50%;
}
.cl-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: var(--acsent-color);
}
.cl-role {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.2px;
  color: #252b42;
}
/* ----------promo---------- */
.promo {
  padding-top: 100px;
}
.promo .field {
  background: var(--acsent-color);
  border-radius: 32px;
}
.promo .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 17px 20px 0px;
  margin-bottom: 12px;
}
.promo .text {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
  margin-bottom: 58px;
}
.promo-btn {
  width: 150px;
  height: 50px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: var(--acsent-color);
  background-color: #ffffff;
  border-radius: 8px;
  border: none;
  padding: 10px 34px;
}
.promo .pic {
  width: 100%;
}
