extends layout/base

block content
    include includes/hero.pug
    include includes/feature.pug
    include includes/description.pug
    include includes/stuff.pug
    include includes/news.pug
    include includes/price.pug
    include includes/feedback.pug
    include includes/promo.pug