-
    let itemsPrice = [{title: 'Free', price: '0', bonus: ['Only 2 Operators', 'Notifications', 'Landing Pages']},
        {title: 'Standard', price: '5', bonus: ['5+ Operators', 'Notifications', 'Landing Pages']},
        {title: 'Premium', price: '10', bonus: ['10+ Operators', 'Notifications', 'Landing Pages']}]

section(class='pt-[61px] md:pt-[110px]')
    div(class='container mx-auto px-[30px] flex flex-col items-center bg:px-[20px] max-w-[1140px]')
        h2(class='text-[34px] font-bold leading-[1.5] mb-[8px] bg:mb-[10px]') Price Table
        p(class='text-center font-medium leading-[1.6] mb-[40px]') We offer competitive price
        ul(class='w-full flex flex-col gap-[32px] items-center bg:flex-row bg:gap-[10px] bg:justify-between max-w-[1100px]')
            each item, i in itemsPrice
                li(class='flex flex-col items-center even:text-colorSec w-[322px] h-[456px] pt-[32px] rounded-[8px] shadow-cardShadow bg:colorSec even:bg-colorAccent group hover:translate-y-[-15px] hover:scale-[1.05] transition-transform')
                    h3(class='font-bold text-[24px] leading-[1.67] mb-[8px]') #{item.title}
                    p(class='leading-[2.5]') Brief price description
                    p(class='text-colorSecAdd group-even:text-colorSecSim leading-[1.18] mb-[16px]') <span class='font-bold text-[76px] text-colorAccent group-even:text-colorSec leading-[1.31] mr-[8px]'>#{item.price}</span>Per / month
                    ul(class='flex flex-col gap-[16px] mb-[38px]')
                        each tip in item.bonus
                            li
                                p(class='text-center') #{tip}
                    if i % 2 === 0
                        +btn('Order now', 'colorSec', 'colorAccent', 'colorAccentHov', 'semibold', '18px', '139px', '44px', '8px')(modal="order") 
                    else
                        +btn('Order now', 'colorPrimAdd', 'colorSec', 'colorSecAddHov', 'semibold', '18px', '139px', '44px', '8px', 'colorAccentAdd')(modal="order") 

