section(class='mb-[100px]')
    div(class='flex flex-col items-center w-[372px] h-[688px] bg-colorAccent rounded-[32px] mx-auto md:flex-row md:w-[708px] md:h-[345px] bg:w-[968px] bg:pr-[40px]')
        h2(class='hidden') promo
        div(class='self-start flex flex-col items-center pt-[17px] bg:pt-[49px] mx-auto md:items-start md:ml-[15px] bg:ml-[51px] ')
            p(class='text-[32px] leading-[1.5] text-colorSec text-center w-[328px] mb-[58px] md:text-left md:mb-[20px] md:mr-0 md:mb-[46px] bg:w-[500px]') Join 100 Compannies who boost their business with Product
            +btn('Get This', 'colorPrimAdd', 'colorSec', 'colorSecAddHov', 'semibold', '20px', '150px', '50px', '8px', 'colorAccentAdd')(modal="register", class='modal') 
        img(class='bg:mt-[-30px]' src='./img/promo1.png' alt='graphics' width='351')