-
    let itemsFooter = {socials: ['instagram', 'facebook', 'twitter'], resource: ['About Us', 'Blog', 'Contact', 'FAQ'], stuff: ['Disclaimer', 'Financing', 'Privacy Policy', 'Terms of Service']}

footer
    div(class='md:px-[20px] md:w-[728px] bg:w-full bg:max-w-[1110px] mx-auto')
        div(class='md:flex flex-wrap md:gap-[16px] justify-between mx-auto mb-[44px] md:mb-[16px] bg:mb-[16px]')
            div(class='flex flex-col items-center gap-[25px] mb-[32px] md:gap-[18px] md:mb-0')
                a(class='flex gap-[8px]' href='')
                    svg(class='w-[32px] h-[30px] md:w-[40px] md:h-[36px]')
                        use(href="../img/sprite.svg#icon-logo") 
                    span(class='text-[30px] font-bold leading-[0.93]') Product
                ul(class='flex gap-[16px]')
                    each soc in itemsFooter.socials
                        li
                            a(class='flex justify-center items-center w-[40px] h-[40px] bg-colorSocials rounded-[50%]' href='')
                                svg(width='24' height='24')
                                    use(href=`../img/sprite.svg#icon-${soc}`)
            div(class='flex flex-col items-center gap-[8px] mb-[32px] bg:items-start')
                h3(class='text-[20px] leading-[1.5] font-medium') Resource
                ul(class='flex flex-col items-center bg:items-start')
                    each res in itemsFooter.resource
                        li
                            a(class='leading-[2.16] hover:font-medium transition-[font]' href="") #{res}
            div(class='flex flex-col items-center gap-[8px] mb-[32px] bg:items-start')
                h3(class='text-[20px] leading-[1.5] font-medium') Legal Stuff
                ul(class='flex flex-col items-center bg:items-start w-[133px]')
                    each stuff in itemsFooter.stuff
                        li
                            a(class='leading-[2.16] hover:font-medium transition-[font]' href="") #{stuff}
            div(class='flex flex-col items-center gap-[34px] bg:items-start md:mx-auto bg:m-0')
                p(class='font-medium text-[20px] leading-[1.5] max-w-[280px] text-center bg:text-left') knowing you're always on the best energy deal.
                form(class='flex flex-col items-center gap-[21px] w-[325px] bg:items-start md:gap-[25px]')
                    div(class='relative w-full')
                        input(class='block w-full h-[48px] py-[10px] pl-[15px] md:pl-[42px] border border-colorAccentAdd rounded-[4px] outline-none placeholder:text-colorAccentAdd placeholder:leading-[1.75] focus:placeholder:text-colorAccent focus:border-colorAccent transition-colors placeholder:transition-colors' type="tel" placeholder="Enter your phone number")
                        svg(class='hidden md:block absolute left-[12px] top-[10px]' width="16" height="24")
                            use(href="../img/sprite.svg#icon-phone")
                    button(class='font-bold text-colorSec bg-colorAccent py-[8px] px-[15px] rounded-[4px] hover:bg-colorAccentHov transition-colors' type='submit') Sign up Now
        p(class='leading-[1.8] text-center') Made With Love By Product. All Right Reserved
