header(class='shadow-headerShadow md:shadow-none')
    div(class='container mx-auto px-[30px] flex justify-between items-center h-[70px] md:h-[120px] bg:h-[70px]')
        a(class='flex gap-[8px] justify-center items-center' href='')
            svg(class='w-[40px] h-[36px]')
                use(href="../img/sprite.svg#icon-logo") 
            span(class='text-[30px] font-bold leading-[0,93]') Product
        include header-bar