include ../mixins/btnMixins.pug
- let pages = ['Product', 'Pricing', 'Customers', 'Resources']
nav(class='hidden md:block')
    div(class='flex gap-[30px] items-center')
        ul(class='flex gap-[15px] items-center bg:gap-[30px]')
            each page in pages
                li
                    a(class='leading-[1,75]' href =`/${page.toLowerCase()}.html`) #{page}
        div(class='flex gap-[24px]')
            +btnHeader('Sign In', 'colorPrimAdd', 'colorSec', 'colorSecAddHov', 'colorAccentAdd')
            +btnHeader('Sign Up', 'colorSec', 'colorAccent', 'colorAccentHov') 

button(class='md:hidden' type='button' data-menu-open)
    svg(class='flex justify-center items-center h-[32px] w-[28px] fill-colorPrimAdd')
        use(href="../img/sprite.svg#icon-burger" menu-btn-open)
        use(class='hidden' href="../img/sprite.svg#icon-close" menu-btn-close)

