include ../mixins/btnMixins.pug
section(class='pt-[30px] pb-[100px] md:pt-[25px]')
    div(class='container mx-auto flex flex-col gap-[10px] items-center px-[30px] md:flex-row-reverse')
        picture
            source(media="(min-width: 1024px)" srcset="../img/hero.png, ../img/hero2x.png 2x" width="610")
            source(media="(min-width: 411px)" srcset="../img/hero_mob.png 1x, ../img/hero_mob2x.png 2x")
            img(src="../img/hero_mob.png" alt="people" width="338")
        div(class='max-w-[465px]')
            h1(class='text-[36px] leading-[1.67] font-bold text-center max-w-[400px] mb-[16px] bg:text-[40px] md:text-left bg:leading-[1.5] bg:mb-[18px]') Work at the speed of thought
            p(class='text-[18px] leading-[1.55] text-center max-w-[326px] mb-[16px] mx-auto md:text-left bg:mb-[45px] md:ml-0') Tools, tutorials, design and innovation experts, all in one place! The most intuitive way to imagine your next user experience.
            div(class='flex gap-[28px] flex-wrap justify-center items-center md:gap-[30px]')
                button(class=`text-colorSec font-semibold bg-colorAccent border py-[14px] px-[24px] rounded-[4px] text-nowrap hover:bg-colorAccentHov transition-colors md:px-[45px]` type='button' data-modal-open) Get started
                button(class='flex gap-[8px] shrink-0 items-center group' type='button')
                    svg(class='w-[20px] h-[17px] fill-colorAccent group-hover:fill-colorAccentHov transition-colors')
                        use(href='../img/sprite.svg#icon-play')
                    span(class='font-semibold text-colorAccent underline group-hover:text-colorAccentHov') Watch the Video