extends pug/layout/base

block content
    include pug/includes/hero.pug
    include pug/includes/feature.pug
    include pug/includes/description.pug
    include pug/includes/stuff.pug
    include pug/includes/news.pug
    include pug/includes/price.pug
    include pug/includes/feedback.pug
    include pug/includes/promo.pug  